* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}
.container {
    background-color: #333;
    color: #efefef;
    text-align: center;
    max-width: 1200px ;
    min-width: 600px;
    margin: 0 auto;
    height: 750px;
    
}
header{
    height: 8vh;
    background-color: rgb(34, 34, 34);
    color: rgba(172, 255, 47, 0.89);
    padding: 20px;
    
}
p{
    height: 8vh;
    background-color: rgb(34, 34, 34);
    font-size: 1em;
}
.rolagem {
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 300px;
    background-color: #333;
    color: #efefef;
    text-align: center;
    width: 60%;
    margin: 0 auto;
   
}
::-webkit-scrollbar {
    width: 0px;
}